<div class="animated fadeIn custom-container" id="screening-container" *ngIf="!finished">
  <h1 class="btn">Screening Form</h1>
  <div class="form-group col-md-6 labelz">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" value="Jimmy" disabled>
  </div>
  <div class="form-group col-md-6 labelz">
    <label for="track">Track</label>
    <input type="text" class="form-control" id="track" value="Programming" disabled>
  </div>
  <div id="configure-screening-container" *ngIf="!skillsSelected">
    <h2 class="text-center h5 mb-3 font-weight-normal">Choose Skills</h2>
    <div id="skills-checkbox">
      <div class="form-check skill" *ngFor="let skill of skills; let i = index">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">{{skill}}</label>
      </div>
    </div>
    <div id="prompt-btns">
      <button class="btn btn-primary" id="complete" type="submit" (click)="confirmPrompt()">Done</button>
      <button class="btn btn-primary" id="complete" routerLink="/candidates">Back</button>
    </div>

  </div>
  <div *ngIf="skillsSelected && !areSkillsConfirmed">
    <div class="text-center">
      <h2 class="h5 mb-3 font-weight-normal">You have selected</h2>
      <p>Java, Spring</p>
      <p>Is this your final answer?</p>
    </div>
    <div id="prompt-btns">
      <button class="btn btn-primary" id="complete" type="submit" (click)="confirmSkills('Yes')">Yes</button>
      <button class="btn btn-primary" id="complete" type="submit" (click)="confirmSkills('No')">No</button>
    </div>


  </div>
  <div *ngIf="areSkillsConfirmed && !assessmentCompleted">
    <div class="form-group">
      <label for="formGroupExampleInput" class="font-weight-bold" id="topic">Topic</label>
      <select class="form-control">
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
    </div>
    <div id="question-bank">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" id="question-col">Question Bank</th>
          </tr>
        </thead>
        <tbody class="question-transition">
          <ng-container *ngFor="let question of questions; let answer of answers; let i = index">
            <tr (click)="selectQuestion(i)" [class.selected]="i == selectedQuestion" class="pointer">
              <td class="question">{{questions[i]}}</td>
            </tr>
            <tr *ngIf="isQuestionSelected && i == selectedQuestion && !isAnswerSelected" class="animated fadeIn">
              <!-- <h2>Scoring Criteria</h2> -->
              <table class="table table-hover" id="answers">
                <thead>
                  <tr>
                    <th scope="col" id="score-col">Score</th>
                    <th scope="col">Answer</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let answer of answers; let i = index">
                    <tr (click)="selectAnswer(i)" [class.selected]="i == selectedAnswer" class="pointer">
                      <td class="score">{{i+1}}</td>
                      <td class="answer">{{answer}}</td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td colspan="2">
                      <div class="form-group">
                        <label for="notes-comments-textarea">Notes & Comments</label>
                        <textarea class="form-control" id="notes-comments-textarea" rows="3" placeholder="Optional"></textarea>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <label for="notes-comments-textarea" class="font-weight-bold" id="general-comments">General Comments</label>
      <textarea class="form-control" id="notes-comments-textarea" rows="3" placeholder="Optional"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" (click)="toggle()">Finish</button>
  </div>

</div>
<app-candidate-assessment-summary></app-candidate-assessment-summary>