#candidates-container{
    margin: 5% 10%;
    padding: 5%;
    min-width: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: #f26925;
}
#configure-screening-container, caption{
    width: 100%;
    margin: 15px auto;
    margin-bottom: 0px;
}
h1{
    background: #f26925;
    color: white;
}
#skills-checkbox{
    margin: 15px auto;
    width: 100%;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: stretch;
    overflow: hidden;
}
#prompt{
    margin-top: 10px;
}
.skill{
    width:100px;
    margin: auto 10px;
    display: inline-flex;
}
#prompt-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}
h1{
    text-align: center;
    font-size: 36px;
}
.form-group{
    max-width: 100%;
    min-width: 180px;
}

.btn{
    width: 100%;
    background: #f26925;
    border-color: #f26925;
}
h2{
    font-size: 1.5em;
}

#question-col{
    border-top:0px;
}
.table thead th, .table td, .table th{
    border-top: 1px solid #b1b8bd;
    border-bottom: 1px solid #7f97a8;
}

#score-col{
    width:60px;
}
.score{
    padding-left: 20px;
}
.table-hover{
    margin-bottom: 20px;
}
.category{
    margin: 10px auto;
}

.table-hover{
    width: 100%;
}
.selected{
    background: #e0e0eb;
}
.pointer{
    cursor: pointer;
}
.question-transition{
    transition: all .4s ease-in-out;
}

#topic, #general-comments{
    padding-left: 12px;
    padding-right: 12px;
}

h1{
    margin-bottom: -2px;
}