<div id="candidates-container">
    <h1 class="btn">Screening Canidates</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Track</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/screening" class="pointer">
          <td>Jimmy Smits</td>
          <td>Programming</td>
        </tr>
        <tr routerLink="/screening" class="pointer">
          <td>Antwan Nephew</td>
          <td>Business Analyst</td>
        </tr>
        <tr routerLink="/screening" class="pointer">
          <td>Luke Wilson</td>
          <td>Pega</td>
        </tr>
      </tbody>
    </table>
    
</div>